<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
            padding: 20px;
        }
        h2 {
            color: #666;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the home page</h1>
    <h2>Redirect to "url:8080/predictdata" to predict your result</h2>
</body>
</html>